.sidebar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 101;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: none
}

.sidebar-link:hover {
  background-color: rgb(229, 228, 228);
  cursor: pointer;
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}